{{define "view/query.htm"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Query</title> 
    <script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>

    <!--查询数据库-->
</head>
<body>

    <div id="d1">
            <button type="" >查询</button> 
            <p id="p1">数据库数据</p>
    </div>
    
    <script>
        var str=""
        $(document).ready(function(){
                $("button").click(function(){
                    $.ajax({
                        type:"post",
                        dataType:"json",
                        url:"http://localhost:8080/query",
                        data:{
                            params: JSON.stringify()
                        },
                        success:function(data, textStatus, jqxhr){
                            for( var i in data){
                                str+= "<tr> <td>" 
                                        +i+"</td><td>"+data[i]
                                        + "</tr>"
                            }
                            console.log(str)

                            $("#d1").append(str)
                        },
                    
                    })
                })
        });
        </script>
</body>
</html>
{{end}}