{{define "../view/root.htm"}}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{.doc}}</title>
        <div>{{.logined}}</div>
        <style type="text/css">
            * {
                margin: 0;
                padding: 0;
            }

            .main {
                width: 100%;
                height: 100%;
        
            }

            .quarter-div {
                width: 50%;
                height: 100%;
                float: left;
                position: relative;
            }
            /*
            .blue {
                background-color: #5BC0DE;
            }

            .green {
                background-color: #5CB85C;
            }
            */
            img{
                width:400px;
                height: 400px;
            }
        </style>
        <script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
        <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    </head>

    <body>
        <div>
            <form action="./login" method="get">
                <input type="submit" name="登录" value="登录" id="">
            </form>
        </div>
        <div>


            <button id="queryall" type="submit">查询所有菜</button> <br>

            <button id='com'>计算选中的总价格</button>
        </div>
        <div class="main">

            <div class="quarter-div" id="0">
                素菜


            </div>
            <div class="quarter-div" id='1'>
                肉菜

            </div>


        </div>
        <script>
            $(document).ready(function () {

                var meat = $('#1') //肉菜
                var furit = $("#0") //素菜
                $('#queryall').click(function () {
                    meat.html('')
                    furit.html('')
                    var user = $.cookie('name')
                    var url = "/query?type=query&id=0"

                    if (user != undefined) {
                        $.ajax({
                            type: "get",
                            dataType: "json",
                            url: url,
                            data: {
                                params: JSON.stringify()
                            },
                            success: function (data, textStatus, jqxhr) {

                                for (var i in data) {
                                    const valueData = data[i]
                                    var dishprice = String(valueData['价格'])
                                    dishprice = dishprice.split('$')[1] | 0
                                    var imgurl = "/download?url=" + valueData['imgurl'] +
                                        ".jpg"
                                    var imgDom = '<img src="' + imgurl + '">'
                                    var dishName_Price =
                                        '<input type="checkbox" value="' + dishprice +
                                        '">' + valueData['菜名'] + " : " + dishprice + "元"

                                    var dishdiv = '<div>' + imgDom + dishName_Price +
                                        '</div>'
                                    if (valueData['菜系'] == "肉菜") {
                                        meat.append(dishdiv)

                                    } else if (valueData['菜系'] == "素菜") {
                                        furit.append(dishdiv)
                                    }
                                }

                            }
                        })
                    } else {
                        $(location).attr('href', './login')
                    }

                })

                $('#com').click(function () {
                    var total = $('input:checkbox')
                    var sumPrice = 0
                    for (var i = 0; i < total.length; i++) {
                        const item = total[i]
                        if (item.checked) {
                            sumPrice = sumPrice + ( item.value | 0)
                            console.log(sumPrice)
                        }

                    }
                    
                    alert("总价格为 : "+sumPrice+"元")
                })
            })
        </script>


    </body>

</html>
{{end}}